<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://via.placeholder.com/900x400"
    alt=""
    srcset=""
    height="200px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Notícia principal</a></h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet. Sed voluptas distinctio sit architecto molestiae aut rerum labore in culpa placeat ut nulla repellat At sint maiores est ducimus impedit! Rem voluptates eligendi et quos incidunt et reiciendis dolores.</p>
  </div>
</div>
