<article>
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card
        id="1"
        photo="https://via.placeholder.com/900x400"
        title="Notícia Principal"
        description="Lorem ipsum dolor sit amet. Sed voluptas distinctio sit architecto molestiae aut rerum labore in culpa placeat ut nulla repellat At sint maiores est ducimus impedit! Rem voluptates eligendi et quos incidunt et reiciendis dolores."
      ></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        id="2"
        photo="https://via.placeholder.com/250x300"
        title="Notícia secundária 1"
      ></app-small-card>
      <app-small-card
        id="3"
        photo="https://via.placeholder.com/500x900"
        title="Notícia secundária 2"
      ></app-small-card>
      <app-small-card
        id="4"
        photo="https://via.placeholder.com/600x800"
        title="Notícia secundária 3"
      ></app-small-card>
    </div>
  </div>
</article>
