<header>
  <app-menu-bar></app-menu-bar>
</header>
<article>
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card
        photo="https://via.placeholder.com/900x400"
        title="Notícia Principal"
        description="Lorem ipsum dolor sit amet. Sed voluptas distinctio sit architecto molestiae aut rerum labore in culpa placeat ut nulla repellat At sint maiores est ducimus impedit! Rem voluptates eligendi et quos incidunt et reiciendis dolores."
      ></app-big-card>
    </div>
    <div class="articles__others">
      <!-- small cards here -->
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
</article>
